.modulecontainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  margin-left: 50px;
}

.modulecontainer h1 {
  width: fit-content;
  color: #3f3f3f;
}

.modulecontainer ul {
  color: #3f3f3f;
  font-size: 25px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.modulecontainer li {
  margin-top: 20px;
  color: #3f3f3f;
  font-size: 25px;
}
